
.portfolioContainer {
    width: 100%;
    vertical-align: baseline;
}

.portfolioContainer h2 {
    border-top:1px solid rgba(64,129,173,0.9);
    text-align: center;
}

.portfolioContainer section.exhibit-thumbnails  {}

.portfolioContainer h3.sub-header {
    /*padding: 1em;*/
}

.portfolioContainer article.thumbnail {
    display: inline-block;
    position: relative;
    height: 32vh;
    width: 49%;
    border-radius: 0;
    padding: 0;
    margin: 0;
    line-height: 1.42857143;
    border: 1px solid transparent;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    overflow: hidden;
    object-fit: cover;

}

.portfolioContainer article.thumbnail:hover {
    box-shadow: 3px 3px 10px hsl(0, 0%, 70%);
}

.portfolioContainer article.thumbnail img {
    max-width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.4;
}

.portfolioContainer article.thumbnail:hover img {
    opacity: 1;
}

.portfolioContainer article.thumbnail .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32vh;
    z-index: 1;
    padding: 2em;
}

.portfolioContainer article.thumbnail:hover .caption {
    display: none;
    height: 32vh;
}

.portfolioExhibitPage {
    width: 100%;
}

.portfolioExhibitPage .thumbnail {
    height: 20vh;
}

.portfolioExhibitPage .thumbnail img{
    max-height: 20vh;
}

.portfolioExhibitPage h2 {
    padding-left: 1.5em;
}

.portfolioExhibitPage .portfolioRow {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.portfolioExhibitPage .portfolioRow .information {
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
}

.portfolioExhibitPage .portfolioRow .exhibit-thumbnails {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.portfolioExhibitPage .portfolioRow .exhibit-thumbnails img {
    max-width: 100%;
}

.portfolioExhibitPage .exhibit-campaign-information {
    width: 100%;
    padding: 3em;
}

.portfolioExhibitPage .campaign-alternative {
    width: 49%;
    max-height: 32vh;

    display: inline-flex;
    padding: 3em;
}

.portfolioExhibitPage .campaign-alternative h3 {
    width: 49%;
    vertical-align: middle;
    margin: auto;
}

.portfolioExhibitPage .campaign-alternative img {
    width: 49%;
    vertical-align: middle;
    margin: auto;
}
.portfolioExhibitPage .portfolioRow .exhibit-photography {
    display: block;
    width: 80em;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: #556f7f;
}

.portfolioExhibitPage img.exhibit-photography {
    height: 70vh;
}

.portfolio-featured-slide-show {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 ;
    padding: 0;
    height: 60vh;
}

.portfolio-featured-asset {
    display: inline-block;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.portfolio-featured-slide-show img {
    height: 60vh;
}

.portfolio-featured-slide-show .portfolio-featured-slide-show-indicator {
    display: inline-block;
    vertical-align:middle;
    position: relative;
    width: 8%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 60vh;
}

.portfolio-featured-slide-show .portfolio-featured-slide-show-indicator-previous,
.portfolio-featured-slide-show .portfolio-featured-slide-show-indicator-next {
    font-size: 8em;
    position: absolute;
}

.portfolioExhibitPage .portfolioRow .exhibit-photography .caption {
    display: block;
    width: 100em;
}

/* Phones */
@media (max-width: 500px ) {

    .portfolioExhibitPage .portfolioRow section.exhibit-thumbnails {
        width: 100%;
    }
}

/* 500px or wider */
@media (min-width: 500px) {

    .portfolioExhibitPage .portfolioRow .information {
        width: 30%;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1em;
        margin-right: 1em;
        padding: 2em;
    }
}

/* Medium Devices*/

@media  (min-width: 992px) {

    /*@media all and (min-width:992px)*/
    .portfolioContainer article.thumbnail {
        width: 24%;
    }

    .portfolioContainer article.thumbnail img {

        /*width: 49%;*/
    }

    .portfolioContainer article.thumbnail .caption {

        /*width: 49%;*/
    }

    .portfolioExhibitPage .portfolioRow .information {

        margin-left: 2em;
        margin-right: 2em;
        padding: 4em;
    }

    .portfolioExhibitPage .exhibit-interactive-information,
    .portfolioExhibitPage .exhibit-campaign-information {
        display: inline-block;
        display: inline-flex;

    }

    .portfolioExhibitPage .exhibit-campaign-information p,
    .portfolioExhibitPage .exhibit-campaign-information img {
        width: 33%;
        vertical-align: middle;
        margin: auto;
    }

    .portfolioExhibitPage .campaign-side-by-side {
        width: 33%;
        max-height: 32vh;
        display: inline-flex;
        padding: 3em;
    }

    .portfolioExhibitPage .campaign-alternative {
        width: 33%;
        /*height: 32vh;*/
    }
}


