/*
The primary stylesheet for the Flexbox Holy Grail layout demo web page. This sheet pulls in all the components in order of appearance.
*/

@import url('reset.css');
@import url('accessibility.css');
@import url('animations.css');
/*@import url('layout.css');*/
@import url('background.css');
@import url('typography.css');
/*@import url('masthead.css');*/
/*@import url('holy-grail.css');*/
/*@import url('nav-base.css');*/
/*@import url('nav-multi-level.css');*/
/*@import url('nav-mixed.css');*/
/*@import url('nav-social.css');*/
/*@import url('card-styles.css');*/
/*@import url('all-together.css');*/
@import url('header.css');
@import url('portfolio.css');
@import url('user-control.css');
@import url('table-of-contents.css');
@import url('footer.css');
@import url('resume.css');
@import url('contact.css');


.row {
     margin-right: -5px;
     margin-left: -5px;
    /*border: dashed 1px green;*/
}

.background-about {
    -webkit-box-shadow:inset 1px 1px 50px 1px rgba(121,127,79,0.2),4px 3px 10px 2px rgba(85,111,127,0.1);
    box-shadow:inset 1px 1px 50px 1px rgba(121,127,79,0.2),4px 3px 10px 2px rgba(85,111,127,0.1);

}

.box-shadow-inset {
    -webkit-box-shadow:inset 1px 1px 20px 1px rgba(121,127,79,0.4),4px 3px 10px 2px rgba(85,111,127,0.1);
    box-shadow:inset 1px 1px 20px 1px rgba(121,127,79,0.4),4px 3px 10px 2px rgba(85,111,127,0.1);
}

.box-shadow {
    -webkit-box-shadow: 1px 1px 50px 1px rgba(121,127,79,0.4),4px 3px 10px 2px rgba(85,111,127,0.1);
    box-shadow: 1px 1px 50px 1px rgba(121,127,79,0.4),4px 3px 10px 2px rgba(85,111,127,0.1);
}

.drop-shadow {
    -webkit-box-shadow: 0px 2px 2px 2px rgba(121,127,79,0.2),4px 3px 10px 2px rgba(85,111,127,0.1);
    box-shadow: 0px 2px 2px 2px rgba(121,127,79,0.2),4px 3px 10px 2px rgba(85,111,127,0.1);
}

#wrapper-inner {
    border-radius: 0.1em;
    margin-top: 5em;
}


.about-page .nextStep {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.about-page .nextStep a {
    min-width: 25%;
    margin: 1em auto;
}

a:link, a:visited, a:hover, a:focus, a:active {

    text-decoration: none;
}

a:link {
    color: rgb(2, 0, 61);
}

a:visited {
    color: #999999;
}

a:hover {
    color: #333333;
}

a:focus {
    color: #333333;
}

a:active {
    color: #009900;
}

.modal-content {

    background-color: rgba(251, 252, 254, 0.6);

}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(250, 240, 149);
    background-image: none;
    color: rgb(0, 0, 0);
}

.ng-pristine input {
    border: 1px solid Gold;
}

.ng-dirty.ng-valid input {
    border: 1px solid Green;
}

.ng-dirty.ng-invalid input {
    border: 1px solid Red;
}

.ng-dirty.ng-valid span {
    color: green;
    display: inline;
}

.ng-dirty.ng-invalid span {
    color: red;
    display: inline;
}

/* Button Styles */

.btn .btn-default {
    border: #4081ad dashed 1px ;
    margin: 3em;
}

/* Phones */
@media (max-width: 500px ) {

    #brand {
        text-align: left;
    }

    h1, .h1 {
        font-size: 18px;
    }

    #wrapper {
        border-radius: 0.4em;
    }

    .brand-icon {
        width: 36px;
    }

    .xs-text-align {
        text-align: center;
    }
    .xs-text-align-right {
        text-align: right;
        padding-right: 36px;
    }
}

@media (min-width: 500px ) and (max-width: 767px ) {

    .about-page .brief-biography {
        padding: 3em;

    }
}

@media (min-width: 400px) {

    .about-page .brief-biography {
        padding: 4em;

    }

}

@media (min-width: 768px ) {

    .about-page {
        margin: 1vh auto;
    }

    .about-page .nextStep,
    .contact-page,
    .about-page .brief-biography  {

    margin: 4vh auto;
    }

    .about-page .nextStep a {

    }
    .contact-page .information,
    .contact-page .logo-icon {
        width: 49%;
        margin: 0 auto;
        padding: 0 auto;
        display: inline-block;
        vertical-align: middle;
    }
}

a[ng-click] {
    cursor: pointer;
}

/* Medium devices (large desktop monitors, 1600px and up) */
@media (min-width: 1600px ) {

    #wrapper {
        margin-left: auto;
        margin-right: auto;
        border-radius: 0.1em;
        width: 100em;
        -webkit-box-shadow: 2px 2px 31px 7px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 2px 2px 31px 7px rgba(0, 0, 0, 0.24);
        box-shadow: 2px 2px 31px 7px rgba(0, 0, 0, 0.24);
        border-left:  transparent 4px solid;
        border-right: transparent 4px solid;
        border-top:   transparent 4px solid;

        /*border-left: rgba(95, 93, 92, 0.7) 4px solid;*/
        /*border-right: rgba(95, 93, 92, 0.7) 4px solid;*/
        /*border-top: rgba(95, 93, 92, 0.7) 4px solid;*/
        border-bottom:none;
    }

}

