/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	font-family: "ff-basic-gothic-web-pro",sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	color: rgb(2, 0, 61);
	text-rendering: optimizeLegibility; /*  optional: for older browsers */
	-webkit-font-variant-ligatures: common-ligatures; /*  for iOS and Safari 6 */
	font-variant-ligatures: common-ligatures; /*  for up-to-date browsers, including IE10 and Opera 21 */
	-moz-font-feature-settings: "kern=1", "liga", "clig"; /* pre-Firefox 14+*/
	-webkit-font-feature-settings: "kern", "liga", "clig";
	-moz-font-feature-settings: "kern", "liga", "clig"; /* Firefox 14+*/
	/* font-feature-settings:  "kern", "liga", "clig";standard Internet Explorer breaks with this feature */
	font-kerning: normal; /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+ */
}


header h1, header h2 {
	/*display: inline-block;*/
	/*vertical-align: middle;*/
	padding-top:0;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
}


.h1, h1.page-title {
	font-size: 1.8em;
	text-shadow: 1px 1px 4px rgba(85,111,127,0.7);
}



h2.page-sub-title {
	font-size: 0.8em;
	text-shadow: 0.01em 0.01em 0.01em rgba(85,111,127,0.7);
	font-family: "ff-basic-gothic-web-pro",sans-serif;
	font-style: italic;
	font-weight: 200;
}

.information h3 {
	font-size: 1.2em;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: "ff-basic-gothic-web-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1rem;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

span.font-family-regular {
	font-family: "ff-basic-gothic-web-pro",sans-serif;
	font-style: normal;
	font-weight: 300;
}

span.font-family-italic {

	font-family: "ff-basic-gothic-web-pro",sans-serif;
	font-style: italic;
	font-weight: 100;
}

span.font-family-bold {
    font-family: "bodoni-urw",serif;
    font-style: normal;
    font-weight: 700;
}

.nav>li, .nav>li>a {
	font-family: "ltc-bodoni-urw", serif;
	font-style: normal;
	font-weight: 400;
}

.portfolioContainer article.thumbnail {
    font-size: 0.8em;
}
.portfolioContainer article.thumbnail .caption h3 {
	font-size: 1.8em;
}
.portfolioContainer article.thumbnail .caption h4 {
	font-family: "ff-basic-gothic-web-pro",sans-serif;
	font-style: italic;
	color: #f9fce7;
}

